.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    width: 100%;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.15);
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a.hover {
    color: rgba(3, 130, 246, 1)
  
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    text-decoration: underline;
    color: rgba(3, 130, 246, 1) ;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  .background{
    position: relative;
   
    left: 60px;
    top: 35px;
    
    background: #F6F9FC;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius:8px;
    border-width: 0.05px;
    
  }
  .text{
    padding-top: 30px;
    font-family: 'Poppins';
    font-size : 25px;
  float:center;
  text-align: center;
  color : rgba(44, 72, 109, 1)
  }
  .columns {
    float: left;
    width: 300px;
    /* padding: 155px; */
    /* margin-top: 30px; */
    font-family: 'Poppins';
    padding-left:109px;
    padding-right:109px;
    margin-top: 10px;
    margin-right: 50px;    /* background-color: rgba(224, 235, 246, 1); */
  }
  
  /* Clear floats after image containers */
  .rows::after {
    padding-top: 10%;
    content: "";
    clear: both;
    display: table;
    padding-bottom: 5%;
    
  }
  .box1{
    width:"80";
    height:280px;
    float:center;
    margin-left:0;
    margin-top: 100px;
    background: radial-gradient(#192E52 0.5%,#142440 400%);
    overflow: hidden;
    }
  .box1 a{
    /* margin-left: 160px; */
    margin-top: 75px;
    padding: 14px 16px;
  text-decoration: none;
  float: left;
  display: block;
  color: #F6F9FC;
  font-family: 'Poppins';
  font-size: 17px; 
  }
.text1{
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
}
.b{
  font-family:'Poppins';
  font-size:10px;
  color:#F6F9FC;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
}